<label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<!-- <p>{{ serverName }}</p>? -->

<button class="btn btn-primary" [disabled]="!allownewServer" (click)="onCreatedServer()">Add Server</button>
 {{allownewServer}}         <!-- String interpolation> -->
<p [innerText]="allownewServer"></p>  <!--property binding-->
<p>{{ serverCreationStatus }}</p>
<p>
  servers works!
</p>
<app-server></app-server>
<app-server></app-server>
